body {
	background-image: url("Background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.gradie-container {
	background-color: navy;
}

.gradie-container h1 {
	color: white;
}

.gradie-container p {
	color: white;
}
